RewriteEngine On
RewriteBase /

# Excepción para archivos .html (permite acceso directo a archivos .html)
RewriteCond %{REQUEST_URI} !\.html$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.php [L,QSA]

#### PERSISTENT CONTENT ####
# El resto de tus reglas de contenido persistente (si las necesitas)
